@model IEnumerable<TestPhotoUploader.Models.PhotoAnalysisResult>
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>

<h2><a class="btn btn-primary" href="@Url.Action("Upload")">Upload</a></h2>

<div class="list">
    <table class="table table-bordered table-striped table-hover">
        @*<caption>Last photos</caption>*@
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photo in Model)
            {
                <tr>
                    <td>@photo.Timestamp.ToString("dd-MM-yyyy hh:mm")</td>
                    <td>@photo.Description</td>
                    <td>
                        <a href="@photo.Uri">
                            <img class="img-responsive" src="@photo.Uri" alt="@photo.Tag1" style="max-width:100px; max-height:100px;"/>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
