@model TestPhotoUploader.Models.PhotoAnalysisResult

@if (Model != null && Model.Name != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 alert alert-success" role="alert">
                <p>Name: @Model.Name</p>
                <p>Description: @Model.Description</p>
                <p>Color: @Model.AccentColor</p>
                <p>Main tag: @Model.Tag1</p>
            </div>
            <div class="col-md-6">
                <img src="@Model.Uri" alt="@Model.Tag1" style="max-width: 100%; max-height:200px">
            </div>
        </div>
    </div>
    <hr/>
}
